body {
    background-color: #1f1f1f;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}



header {
    background-color: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

a {
    color: white;
    text-decoration: none;    
}

@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

.animated {
  animation-duration: 3s;
  animation-fill-mode: both;
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

/* style for webkit browsers */
::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #141414;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #000000;
  }
  
  /* style for other browsers */
  ::-moz-scrollbar {
    width: 8px;
  }
  
  ::-moz-scrollbar-track {
    background: #141414;
  }
  
  ::-moz-scrollbar-thumb {
    background: #000000;
  }

.logo {
    font-size: 28px;
    font-weight: bold;
}



nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

nav a:hover {
    color: #aaa;
}

main {
    padding: 50px;
}

.contact {
    max-width: 800px;
    margin: 0 auto;
}

.contact h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 18px;
    line-height: 1.5;
}

.contact p span.python-label {
    background-color: #e7d802;
    font-weight: bold;
    border-radius: 5px;
    padding: 2px 5px;
    color: black;
}

.contact p span.csharp-label {
    background-color: #b3009b;
    font-weight: bold;
    border-radius: 5px;
    padding: 2px 5px;
    color: black;
}

.contact p span.nodejs-label {
    background-color: #009e15;
    font-weight: bold;
    border-radius: 5px;
    padding: 2px 5px;
    color: black;
}

.contact p span.lua-label {
    background-color: #0905df;
    font-weight: bold;
    border-radius: 5px;
    padding: 2px 5px;
    color: black;
}

.contact p span.html-label {
    background-color: #df0505;
    font-weight: bold;
    color: black;
    border-radius: 5px;
    padding: 2px 5px;
}

.contact p span.php-label {
    background-color: #55738f;
    font-weight: bold;
    color: black;
    border-radius: 5px;
    padding: 2px 5px;
}

.about {
    max-width: 800px;
    margin: 0 auto;
}

.about h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    line-height: 1.5;
}

.about p span.python-label {
    background-color: #e7d802;
    font-weight: bold;
    border-radius: 5px;
    padding: 2px 5px;
    color: black;
}

.about p span.csharp-label {
    background-color: #b3009b;
    font-weight: bold;
    border-radius: 5px;
    padding: 2px 5px;
    color: black;
}

.about p span.nodejs-label {
    background-color: #009e15;
    font-weight: bold;
    border-radius: 5px;
    padding: 2px 5px;
    color: black;
}

.about p span.lua-label {
    background-color: #0905df;
    font-weight: bold;
    border-radius: 5px;
    padding: 2px 5px;
    color: black;
}

.about p span.html-label {
    background-color: #df0505;
    font-weight: bold;
    color: black;
    border-radius: 5px;
    padding: 2px 5px;
}

.about p span.php-label {
    background-color: #55738f;
    font-weight: bold;
    color: black;
    border-radius: 5px;
    padding: 2px 5px;
}

footer {
    background-color: #111;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}

footer p {
    font-size: 14px;
    color: #aaa;
    margin: 0;
}

.projects {
  max-width: 800px;
  margin: 0 auto;
}

.projects h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.projects ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.projects li {
  background-color: #333;
  color: #fff;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
}

.project-item {
    width: calc(33.33% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
}



.projects li:hover {
  background-color: #444;
}

.projects li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.projects li span {
  font-size: 14px;
  opacity: 0.8;
}

.projects li span:last-child {
  margin-left: 10px;
}

.projects li .badge {
  background-color: #e7d802;
  font-weight: bold;
  border-radius: 5px;
  padding: 2px 5px;
  color: black;
}

.projects li .badge.csharp {
  background-color: #b3009b;
}

.projects li .badge.nodejs {
  background-color: #009e15;
}

.projects li .badge.lua {
  background-color: #0905df;
}

.projects li .badge.html {
  background-color: #df0505;
}